/*
* Globals
*/

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Rubik Light";
  src: local("Rubik Light"), url(./assets/fonts/Rubik-Light.woff) format("woff");
}

@font-face {
  font-family: "Rubik";
  src: local("Rubik"), url(./assets/fonts/Rubik-Regular.woff) format("woff");
}

@font-face {
  font-family: "Rubik Bold";
  src: local("Rubik Bold"), url(./assets/fonts/Rubik-Bold.woff) format("woff");
}

html,
body {
  font-family: "Rubik Light", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  color: #0366d6;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1em;
}

.header {
  font-family: "Rubik Bold", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 48px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

#header-brand {
  font-family: "Rubik Bold", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 36px;
}

#header-contact {
  font-size: 30px;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.contact-link {
  color: #0366d6;
  text-decoration: none;
}

.contact-link:after,
.contact-link:visited {
  text-decoration: none;
}

#avatar {
  border-radius: 50%;
  height: 175px;
  margin-bottom: 30px;
  width: 175px;
}

.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 125px 0;
}

.tagline {
  font-family: "Rubik Bold", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 64px;
  margin-bottom: 20px;
}

.subtitle {
  font-family: "Rubik Light", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 36px;
  line-height: 1.25;
  width: 635px;
  text-align: center;
}

/* About Me */
.about-me {
  align-items: center;
  background: #24292e;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-about-me {
  padding-top: 100px;
  padding-bottom: 50px;
}

.about-me-blurb {
  font-family: "Rubik Light", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 36px;
  line-height: 1.25;

  padding-bottom: 300px;
  text-align: center;
  max-width: 800px;
}

/* Tech */
.tech {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tech-container {
  background: #ffffff;
  border: 1px solid #dae1e7;
  border-radius: 25px;
  width: 800px;
  margin-top: -200px;
  padding: 100px 0;
  text-align: center;
}

.laptop {
  margin-bottom: 100px;
}

.header-tech {
  color: #24292e;
  margin-bottom: 100px;
}

ul li {
  color: #0366d6;
  font-family: "Rubik Light", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 36px;
  line-height: 2;
  list-style: none;
}

/*
** Responsive 
*/

@media screen and (max-width: 600px) {
  .fa-envelope {
    display: none;
  }
}
