/*
* Globals
*/

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Rubik Light";
  src: local("Rubik Light"), url(./assets/fonts/Rubik-Light.woff) format("woff");
}

@font-face {
  font-family: "Rubik";
  src: local("Rubik"), url(./assets/fonts/Rubik-Regular.woff) format("woff");
}

@font-face {
  font-family: "Rubik Bold";
  src: local("Rubik Bold"), url(./assets/fonts/Rubik-Bold.woff) format("woff");
}

html,
body {
  font-family: "Rubik Light", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  color: #0366d6;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1em;
}

.header {
  font-family: "Rubik Bold", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 48px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

#header-brand {
  font-family: "Rubik Bold", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 36px;
}

#header-contact {
  font-size: 30px;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.contact-link {
  color: #0366d6;
  text-decoration: none;
}

.contact-link:after,
.contact-link:visited {
  text-decoration: none;
}

#avatar {
  border-radius: 50%;
  height: 175px;
  margin-bottom: 30px;
  width: 175px;
}

.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 125px 0;
}

.tagline {
  font-family: "Rubik Bold", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 64px;
  margin-bottom: 20px;
  padding: 0 0.5em;
}

.subtitle {
  font-family: "Rubik Light", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 36px;
  line-height: 1.25;
  width: 635px;
  text-align: center;
}

/* About Me */
.about-me {
  align-items: center;
  background: #24292e;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-about-me {
  padding-top: 100px;
  padding-bottom: 50px;
}

.about-me-blurb {
  font-family: "Rubik Light", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 36px;
  line-height: 1.25;
  padding-bottom: 300px;
  text-align: center;
  max-width: 800px;
}

/* Tech */
.tech {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tech-container {
  background: #ffffff;
  border: 1px solid #dae1e7;
  border-radius: 25px;
  box-shadow: 8px 8px 8px rgba(128, 128, 128, 0.1);
  width: 800px;
  margin-top: -200px;
  padding: 100px 0;
  text-align: center;
}

.laptop {
  margin-bottom: 100px;
}

.header-tech {
  color: #24292e;
  margin-bottom: 100px;
}

ul li {
  color: #0366d6;
  font-family: "Rubik Light", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 36px;
  line-height: 2;
  list-style: none;
}

/* Recent Work */
.recent-work {
  align-items: center;
  color: #24292e;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-recent-work {
  margin-top: 200px;
  margin-bottom: 50px;
}

.recent-work-blub {
  font-size: 36px;
  line-height: 1.25;
  max-width: 700px;
  text-align: center;
}

.recent-work-github-link,
.recent-work-github-link:visited {
  color: #24292e;
  text-decoration: underline;
}

hr {
  border: 1px solid #dae1e7;
  margin: 200px 0;
}

/* Contact Me */
.contact-me {
  align-items: center;
  color: #24292e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 200px;
}

.header-contact-me {
  margin-bottom: 50px;
}

.contact-me-link {
  color: #24292e;
  font-size: 36px;
  line-height: 1.25;
  text-decoration: underline;
}

/* Footer */
footer {
  background: #fafbfc;
  height: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.fa-github {
  margin-right: 25px;
}

.fa-3x {
  color: #24292e;
}

/*
** Responsive 
*/

@media screen and (min-width: 825px) {
  #header-contact-mobile {
    display: none;
  }
}

@media screen and (max-width: 825px) {
  .header-container {
    justify-content: center;
  }

  .tagline {
    font-size: 36px;
    text-align: center;
  }

  .subtitle {
    display: none;
  }

  #header-contact {
    display: none;
  }

  .tagline {
    color: #24292e;
    margin-bottom: 50px;
  }

  #header-contact-mobile {
    font-size: 30px;
    font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  .header {
    font-size: 36px;
  }

  .about-me-blurb {
    font-size: 24px;
    line-height: 1.5;
    margin: 0 1em;
  }

  .tech-container {
    width: 325px;
  }

  .header-tech {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  ul li {
    font-size: 24px;
  }

  .recent-work-blub,
  .contact-me-link {
    font-size: 24px;
    line-height: 1.5;
    margin: 0 1em;
  }
}
