/*
* Globals
*/

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Rubik Light";
  src: local("Rubik Light"),
    url(url(./assets/fonts/Rubik-Light.woff)format("woff");
}

@font-face {
  font-family: "Rubik";
  src: local("Rubik"),
    url(url(./assets/fonts/Rubik-Regular.woff)format("woff");
}

@font-face {
  font-family: "Rubik Bold";
  src: local("Rubik Bold"), url(./assets/fonts/Rubik-Bold.woff) format("woff");
}

html,
body {
  font-family: "Rubik Light", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  color: #0366d6;
  margin: 0 auto;
  width: 1200px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

#header-brand {
  font-family: "Rubik Bold", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 36px;
}

#header-contact {
  font-size: 30px;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.contact-link {
  color: #0366d6;
  text-decoration: none;
}

.contact-link:after,
.contact-link:visited {
  text-decoration: none;
}

#avatar {
  border-radius: 50%;
  height: 175px;
  margin-bottom: 30px;
  width: 175px;
}

.bio {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

.tagline {
  font-family: "Rubik Bold", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 64px;
  margin-bottom: 20px;
}

.subtitle {
  font-family: "Rubik Light", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 36px;
  width: 635px;
  text-align: center;
}
